@import url('https://rsms.me/inter/inter.css');

body {
	background-color: #F3F5FC;
	font-family: 'Inter', sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	position: relative;
}

header {
	flex-grow: 0;
}

main {
	display: flex;
	flex-grow: 3;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100%;
}

footer {
	flex-grow: 0;
	text-align: center;
	font-size: 0.8em;
	box-sizing: border-box;
	padding-bottom: 1%;
}

p {
	margin: 0;
}

.buttons {
	font-size: 1em;
	border: 1px solid #0A3871;
	border-radius: 24px;
	background: #ffffff;
	padding: 2%;
	cursor: pointer;
	align-self: center;
	min-width: 215px;
	box-sizing: border-box;
	margin: 2px 0;
}

.button-blue {
	color: #ffffff;
	background: #0A3871;
}

.pantalla-menu {
	display: flex;
	flex-direction: column;
}

.logo {
	width: 130px;
	height: 48px;
	padding-top: 20px;
}

main section {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	justify-content: center;
}

.pantalla-iniciar-juego, .pantalla-agregar-palabra {
	display: none;
	flex-direction: column;
}

.pantalla-iniciar-juego {
	height: 100%;
	width: 100%;
	position: relative;
}


.dibujar {
	text-align: center;
	position: relative;
	margin-bottom: 1em!important;
	height: 40%;
}

.dibujar .messages{
   	position: absolute;
   	top: calc(50% - 1em);
   	width: 100%;
   	color: #ffffff;
}

.win-msg {
   	background: #0A3871;
}

.loser-msg {
   	background: #cb1b1b;
}

.pantalla-iniciar-juego img {
	width: auto;
	height: 100%;
}

.pantalla-agregar-palabra > * {
	width: 70%;
	margin: 0.5% auto;
}

.pantalla-agregar-palabra textarea {
	display: block;
	resize: none;
	font-size: 2em;
	color: #0A3871;
	background: transparent;
	border: none;
	font-family: inherit;	
	padding: 0.5%;
} 


.pantalla-agregar-palabra textarea::placeholder {
	color: #0A3871;
}
	
.pantalla-agregar-palabra img {
	margin-right: 2px;
}

.pantalla-iniciar-juego div{
	width: 80%;
	margin: auto;
	text-align: center;
}

.palabra-oculta {
	display: flex;
	min-height: 3.5em;
}

.palabra-oculta div {
	border-bottom: 4px solid #0A3871;
	margin: 0 1.2%;
	flex-grow: 1;
	font-size: 2.3em;
	text-align: center;
	color: #0A3871;
}


.letras-encontradas {
	padding: 10px 20px;
	display: flex;
	font-weight: 300;
	color: #0A3871;
	font-size: 1.2em;
	min-height: 2.4em;
}

.letras-encontradas div {
	flex-grow: 1;
}

.teclado-mobile {
       	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.teclado-mobile div {
       	display: inline-block;
	max-width: 2em;
	background: #88898d;
	padding: 1%;
	margin: 4px;
	color: #ffffff;
	box-sizing: border-box;
	cursor: pointer;
}


